:local(.currentStatus) {
  margin-bottom: 15px;

  > header {
    font-size: 16px;
    font-weight: 700;
    color: #666;
  }

  :local(.temperature) {
    color: #47c;

    &:before {
      content: ' ';
    }
  }

  :local(.warning) {
    font-size: 12px;
    color: #f33;
    margin-left: 15px;
  }
}